## preprocessing

In [ ]:
import pandas as pd
import numpy as np

PATH = '/Users/jeeho/lab/miraeasset/mirae_env/최종/data'    # train.xlsx, test.xlsx
FILE_PATH = '/Users/jeeho/lab/miraeasset/mirae_env/최종/data' # train.xlsx, test.xlsx
SAVE_PATH = '/Users/jeeho/lab/miraeasset/mirae_env/최종/dataout' # 각 feature

In [ ]:
train=pd.read_csv(SAVE_PATH+"/train_merged.csv")
test = pd.read_csv(SAVE_PATH+"/test_merged.csv")

## Missing Value

### 직접 impute

#### AGE

In [ ]:
age_missing = train["CODE"][train["AGE"].isnull()]
for i,idx in enumerate(age_missing.index):
  train["AGE"][idx] = age[i]


age_missing_test = test["CODE"][test["AGE"].isnull()]
age_missing_test.drop(81, inplace=True)
for i,idx in enumerate(age_missing_test.index):
    test["AGE"][idx] = age[i]

In [ ]:
age = [16928,
 18139,
 18040,
 9098,
 1372,
 5302,
 6629,
 18936,
 12490,
 16912,
 17123,
 12468,
 16711,
 17817,
 11794,
 16892,
 2374,
 2253,
 12088,
 4630,
 12333,
 16879,
 12393,
 8325,
 4367,
 8071,
 8101,
 6894,
 232]

test_age = [17277,
 7010,
 17989,
 4728,
 10307,
 9229,
 1539,
 6999,
 17650,
 16168,
 4243,
 12119,
 18026,
 16711,
 12299,
 15273,
 7597,
 5805,
 2751,
 2848,
 7590,
 5725,
 7975,
 2792,
 2243,
 6498,
 4266,
 4000,
 7531]

#### 업종

train

In [ ]:
train["type"][train['CO_NM']=='펄어비스'] = 3
train["type"][train['CO_NM']=='스튜디오드래곤'] = 3
train["type"][train['CO_NM']=='위메이드'] = 3
train["type"][train['CO_NM']=='JYP Ent.'] = 3
["type"][train['CO_NM']=='에스엠'] = 3
train["type"][train['CO_NM']=='오스템임플란트'] = 2
train["type"][train['CO_NM']=='동화기업'] = 7
train["type"][train['CO_NM']=='파라다이스'] = 6
train["type"][train['CO_NM']=='피엔티'] = 4
train["type"][train['CO_NM']=='고영'] = 4
train["type"][train['CO_NM']=='컴투스'] = 3
train["type"][train['CO_NM']=='와이지엔터테인먼트'] = 3
train["type"][train['CO_NM']=='이녹스첨단소재'] = 4
train["type"][train['CO_NM']=='웹젠'] = 3
train["type"][train['CO_NM']=='아난티'] = 6
train["type"][train['CO_NM']=='파트론'] = 4
train["type"][train['CO_NM']=='아미코젠'] = 6
train["type"][train['CO_NM']=='신흥에스이씨'] = 0
train["type"][train['CO_NM']=='국일제지'] = 7
train["type"][train['CO_NM']=='원익홀딩스'] = 4
train["type"][train['CO_NM']=='인터플렉스'] = 4
train["type"][train['CO_NM']=='톱텍'] = 4
train["type"][train['CO_NM']=='노바렉스'] = 6
train["type"][train['CO_NM']=='비츠로셀'] = 0
train["type"][train['CO_NM']=='에스티큐브'] = 4
train["type"][train['CO_NM']=='멀티캠퍼스'] = 3
train["type"][train['CO_NM']=='슈피겐코리아'] = 6
train["type"][train['CO_NM']=='알서포트'] = 3
train["type"][train['CO_NM']=='지니뮤직'] = 3
train["type"][train['CO_NM']=='에이치엘사이언스'] = 6
train["type"][train['CO_NM']=='현대에버다임'] = 5
train["type"][train['CO_NM']=='영풍정밀'] = 6
train["type"][train['CO_NM']=='SBS콘텐츠허브'] = 3
train["type"][train['CO_NM']=='나노엔텍'] = 2
train["type"][train['CO_NM']=='신화인터텍'] = 4
train["type"][train['CO_NM']=='에스엠코어'] = 4
train["type"][train['CO_NM']=='넥스트사이언스'] = 7
train["type"][train['CO_NM']=='롯데푸드'] = 6
train["type"][train['CO_NM']=='SBS미디어홀딩스'] = 3
train["type"][train['CO_NM']=='폴루스바이오팜'] = 3
train["type"][train['CO_NM']=='SK머티리얼즈'] = 1
train["type"][train['CO_NM']=='넥슨지티'] = 3
train["type"][train['CO_NM']=='디피씨'] = 1
train["type"][train['CO_NM']=='HDC'] = 1
train["type"][train['CO_NM']=='우리들휴브레인'] = 5

test

In [ ]:

test["type"][test['CO_NM']=='엘앤에프'] = 0
test["type"][test['CO_NM']=='에스에프에이'] = 4
test["type"][test['CO_NM']=='대주전자재료'] = 4
test["type"][test['CO_NM']=='씨아이에스'] = 4
test["type"][test['CO_NM']=='클래시스'] = 2
test["type"][test['CO_NM']=='비에이치'] = 4
test["type"][test['CO_NM']=='다원시스'] = 0
test["type"][test['CO_NM']=='매일유업'] = 6
test["type"][test['CO_NM']=='서부T&D'] = 6
test["type"][test['CO_NM']=='KH바텍'] = 4
test["type"][test['CO_NM']=='하림'] = 6
test["type"][test['CO_NM']=='이지홀딩스'] = 6
test["type"][test['CO_NM']=='드림어스컴퍼니'] = 3
test["type"][test['CO_NM']=='로보스타'] = 4
#df["type"][df['CO_NM']=='부산가스'] = 0
#df["type"][df['CO_NM']=='엔에스쇼핑'] = 3
test["type"][test['CO_NM']=='에이치엘비'] = 2

#### 총직원수

train

In [ ]:

#emp["CO_NM"][emp.total_emp.isna()]
train['total_emp'][train['CO_NM']=='대한전선']=883
train['total_emp'][train['CO_NM']=='휠라홀딩스']=68
train['total_emp'][train['CO_NM']=='한샘']=2540
train['total_emp'][train['CO_NM']=='대성홀딩스']=39
train['total_emp'][train['CO_NM']=='하나투어']=1180      
train['total_emp'][train['CO_NM']=='흥아해운']=344
train['total_emp'][train['CO_NM']=='HDC']=11
train['total_emp'][train['CO_NM']=='롯데푸드']=1940
train['total_emp'][train['CO_NM']=='지역난방공사']=2201
train['total_emp'][train['CO_NM']=='에이프로젠 MED']=69
train['total_emp'][train['CO_NM']=='SBS미디어홀딩스']=8
train['total_emp'][train['CO_NM']=='태영건설']=1632
train['total_emp'][train['CO_NM']=='대한제분']=367
train['total_emp'][train['CO_NM']=='쎌마테라퓨틱스']=5
train['total_emp'][train['CO_NM']=='동방']=735
train['total_emp'][train['CO_NM']=='보락']=136
train['total_emp'][train['CO_NM']=='대원화성']=163
train['total_emp'][train['CO_NM']=='삼영화학']=198
train['total_emp'][train['CO_NM']=='영흥']=448
train['total_emp'][train['CO_NM']=='폴루스바이오팜']=40
train['total_emp'][train['CO_NM']=='SK머티리얼즈']=868
train['total_emp'][train['CO_NM']=='동화기업']=769
train['total_emp'][train['CO_NM']=='하림지주']=58
train['total_emp'][train['CO_NM']=='넥슨지티']=186
train['total_emp'][train['CO_NM']=='인선이엔티']=418
train['total_emp'][train['CO_NM']=='에넥스']=259

test

In [ ]:

test['total_emp'][test['CO_NM']=='메리츠증권']=1556
#test['total_emp'][test['CO_NM']=='부산가스']= 상장폐지
test['total_emp'][test['CO_NM']=='효성중공업']= 6250
test['total_emp'][test['CO_NM']=='남해화학']= 493
#test['total_emp'][test['CO_NM']=='엔에스쇼핑']=상장폐지
test['total_emp'][test['CO_NM']=='벽산']= 312
test['total_emp'][test['CO_NM']=='태경케미컬']= 106
test['total_emp'][test['CO_NM']=='무림페이퍼']= 459
test['total_emp'][test['CO_NM']=='센트랄모텍']= 147
test['total_emp'][test['CO_NM']=='컨버즈']= 53
test['total_emp'][test['CO_NM']=='TBH글로벌']= 310
test['total_emp'][test['CO_NM']=='이베스트투자증권']= 587
test['total_emp'][test['CO_NM']=='하림']= 2281

#### SIZE

In [ ]:
from numpy import log10

train['SIZE'][train['CO_NM']=='강남제비스코']=log10(904010952337)
train['SIZE'][train['CO_NM']=='CJ ENM']=log10(7940625*1000000)

test['SIZE'][test['CO_NM']=='BGF']=log10(1981622*1000000)
test['SIZE'][test['CO_NM']=='LS전선아시아']=log10(495255*1000000)

#### work_year
#### salary
#### female_salary

In [ ]:
train['work_year'][train['CO_NM']=='SBS미디어홀딩스']= 3.5
train['work_year'][train['CO_NM']=='보락']= 12.96
train['work_year'][train['CO_NM']=='SK머티리얼즈']= 6.7
train['work_year'][train['CO_NM']=='하림지주']= 2.8
train['work_year'][train['CO_NM']=='현대차']= 18.92
train['work_year'][train['CO_NM']=='에넥스']= 11.75
train['work_year'][train['CO_NM']=='OCI']= 15.05
train['work_year'][train['CO_NM']=='대한전선']= 11.4
train['work_year'][train['CO_NM']=='휠라홀딩스']= 5.59
train['work_year'][train['CO_NM']=='한샘']= 7.06
train['work_year'][train['CO_NM']=='대성홀딩스']= 8.48
train['work_year'][train['CO_NM']=='하나투어']= 9.95
train['work_year'][train['CO_NM']=='SGC에너지']= 5
train['work_year'][train['CO_NM']=='흥아해운']= 3.13
train['work_year'][train['CO_NM']=='HDC']= 5.8
train['work_year'][train['CO_NM']=='지역난방공사']= 12.8
train['work_year'][train['CO_NM']=='대한제분']= 16.2
train['work_year'][train['CO_NM']=='쎌마테라퓨틱스']= 8.25
train['work_year'][train['CO_NM']=='동방']= 15.6
train['work_year'][train['CO_NM']=='대원화성']= 14.41
train['work_year'][train['CO_NM']=='삼영화학']= 10.93
train['work_year'][train['CO_NM']=='영흥']= 10
train['work_year'][train['CO_NM']=='코아스']= 5
train['work_year'][train['CO_NM']=='폴루스바이오팜']= 2.9
train['work_year'][train['CO_NM']=='동화기업']= 8
train['work_year'][train['CO_NM']=='인선이엔티']= 2.52
train['work_year'][train['CO_NM']=='KCC건설']= 9.66

train['salary'][train['CO_NM']=='SBS미디어홀딩스']= 41000000
train['salary'][train['CO_NM']=='보락']= 24026000
train['salary'][train['CO_NM']=='SK머티리얼즈']= 60430000
train['salary'][train['CO_NM']=='하림지주']= 33000000
train['salary'][train['CO_NM']=='현대차']= 47643247
train['salary'][train['CO_NM']=='에넥스']=95872648

train['female_salary'][train['CO_NM']=='SBS미디어홀딩스']= 0
train['female_salary'][train['CO_NM']=='보락']= 21030000
train['female_salary'][train['CO_NM']=='SJM홀딩스']= 0
train['female_salary'][train['CO_NM']=='SK머티리얼즈']= 43000000
train['female_salary'][train['CO_NM']=='하림지주']= 24000000


test['work_year'][test['CO_NM']=='메리츠증권']= 6.28
test['work_year'][test['CO_NM']=='무림페이퍼']= 37
test['work_year'][test['CO_NM']=='이베스트투자증권']= 5
test['work_year'][test['CO_NM']=='이니텍']= 5.3
test['work_year'][test['CO_NM']=='효성중공업']= 14.2
test['work_year'][test['CO_NM']=='남해화학']= 16.5
test['work_year'][test['CO_NM']=='삼영전자']= 15.12
test['work_year'][test['CO_NM']=='벽산']= 13.12
test['work_year'][test['CO_NM']=='태경케미컬']= 8.43
test['work_year'][test['CO_NM']=='센트랄모텍']= 7.55
test['work_year'][test['CO_NM']=='사조씨푸드']= 8.17
test['work_year'][test['CO_NM']=='컨버즈']= 2.1
test['work_year'][test['CO_NM']=='TBH글로벌']= 6.76
test['work_year'][test['CO_NM']=='범양건영']=5.02

test['salary'][test['CO_NM']=='메리츠증권']= 103559000
test['salary'][test['CO_NM']=='무림페이퍼']= 70000000
test['salary'][test['CO_NM']=='이베스트투자증권']= 131967000
test['salary'][test['CO_NM']=='이니텍']= 28607000

test['female_salary'][test['CO_NM']=='메리츠증권']= 63926920
test['female_salary'][test['CO_NM']=='아세아시멘트']=21281000
test['female_salary'][test['CO_NM']=='무림페이퍼']= 5200000
test['female_salary'][test['CO_NM']=='CS홀딩스']= 0
test['female_salary'][test['CO_NM']=='이베스트투자증권']= 8496000
test['female_salary'][test['CO_NM']=='이니텍']= 4300000

#### 업종별 평균
- major_hldr
- minor_hldr
- outer_dir
- dir_gender
- emp_gender
- dir_pay

In [ ]:
# 업종별 평균값을 저장해놓기 위한 임시 함수
def make_aver(i,aver_by_service_type, df):
  aver_by_service_type["major_hldr"][i]=df["major_hldr"][df["type"]==i].copy().dropna().mean()
  aver_by_service_type["minor_hldr"][i]=df["minor_hldr"][df["type"]==i].copy().dropna().mean()
  aver_by_service_type["outer_dir"][i]=df["outer_dir"][df["type"]==i].copy().dropna().mean()
  aver_by_service_type["dir_gender"][i]=df["dir_gender"][df["type"]==i].copy().dropna().mean()
  aver_by_service_type["emp_gender"][i]=df["emp_gender"][df["type"]==i].copy().dropna().mean()
  aver_by_service_type["dir_pay"][i]=df["dir_pay"][df["type"]==i].copy().dropna().mean()
  return aver_by_service_type

# 저장된 값으로 결측치 채우는 함수
def fill_aver(df, j , col, aver_by_service_type):
  m = df[col][df["type"]==j].isnull()

  for i in m.index:
    if m[i] :
      df[col][i]=aver_by_service_type[col][j]
  return df


# 업종별 평균값을 저장
aver_by_service_type = pd.DataFrame(np.NaN,index = range(9),
                                    columns=["major_hldr","minor_hldr","outer_dir","dir_gender","emp_gender","dir_pay"])
for i in range(9): 
  aver_by_service_type = make_aver(i, aver_by_service_type,train)
  
# 저장된 값 채우기 
for i in range(9):
  for col in ["major_hldr","minor_hldr","outer_dir","dir_gender","emp_gender","dir_pay"]:
    train = fill_aver(train, i,col, aver_by_service_type)
    test = fill_aver(test, i,col, aver_by_service_type)

#### re_emp_ratio

In [ ]:
train['re_emp_ratio'][train['CO_NM']=='SBS미디어홀딩스']= 8
train['re_emp_ratio'][train['CO_NM']=='보락']= 134
train['re_emp_ratio'][train['CO_NM']=='SK머티리얼즈']= 822	
train['re_emp_ratio'][train['CO_NM']=='하림지주']= 60

test['re_emp_ratio'][test['CO_NM']=='메리츠증권']= 546	
test['re_emp_ratio'][test['CO_NM']=='무림페이퍼']= 452	
test['re_emp_ratio'][test['CO_NM']=='이베스트투자증권']= 313
test['re_emp_ratio'][test['CO_NM']=='이니텍']= 209

#### 코사인 유사도
- opos
- noe
- cr
- dr 
- DVR

In [ ]:
import numpy as np
import pandas as pd
from numpy import dot 
from numpy.linalg import norm 


def cos_sim(a, b): 
    return dot(a, b)/(norm(a)*norm(b))   #코사인 유사도 



def cos_sim_fill(df, column):
    
    for i in range(len(df[column])):
        if type(df.loc[i,column]) == str:
            df.loc[i,column]= df.loc[i,column].replace(',','')  # 컬럼 데이터 전처리 
    df = df.astype({column: 'float'})  # 데이터 타입 변환 
    index = df[column][df[column].isnull()].index    # null인 인덱스 찾기 
    for g in range(len(index)):
        num= int(df.loc[index[g],['NAME']])     # 업종 추출 
        a=df[df['NAME']==num]   # 같은 업종인 행들 추출
        b=a[['SIZE','total_emp']]   # size / total 칼럼
        c=b.index     # 인덱스변환 
        sim=[]
        for i in range(len(c)):
            sim1= cos_sim(list(b.loc[index[g],['SIZE','total_emp']]),list(b.loc[c[i],['SIZE','total_emp']]))  # 코사인 유사도 계산
            sim.append(sim)
                
        df=pd.DataFrame(columns=['idx','cos_sim'])
        cos_sim_df= pd.DataFrame({'idx': c ,'cos_sim':sim})
        df = pd.concat([df,cos_sim_df])
        df= df.sort_values(by=['cos_sim'],ascending = False)
        df_top5=df[1:8]   # 코사인 유사도 본인 제외하고 7가지의 기업 가져온다 
        aver =pd.DataFrame(columns=['idx','mean'])        # 평균 구하기 
        aver1= pd.DataFrame({'idx':list(map(int,list(df_top5['idx']))),'mean': df.loc[list(map(int,list(df_top5['idx']))),column]})
        aver= pd.concat([aver,aver1])
        df.loc[index[g],[column]] = aver['mean'].mean()
            
    return df

In [ ]:
train = cos_sim_fill(train , ["OPOS","NOE","CR", "DR","DVR"])
test = cos_sim_fill(test , ["OPOS","NOE","CR", "DR","DVR"])

#### drop

In [ ]:
train = train.drop(["CODE", "CO_NM","total_emp", "div_cur"], axis=1)
test = test.drop(["CODE", "CO_NM","total_emp", "div_cur"], axis=1)

#### new feature

In [ ]:
for i in range(len(train)):
    train['female_salary'][i] = train['female_salary'][i]/train['salary'][i]
    
for i in range(len(test)):
    test['female_salary'][i] = test['female_salary'][i]/test['salary'][i]

#### log 변환 
- numerical feature 중 왜도가 큰

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


def log_transform(df):

     #0인값이 있기 때문에 +1해서 로그변환
     df['CR']=np.log1p(df['CR'])
     df['PBR']=np.log1p(df['PBR'])
     df['PER']=np.log1p(df['PER'])
     df['DVR']=np.log1p(df['DVR'])
     df['work_year']=np.log1p(df['work_year'])
     df['salary']=np.log1p(df['salary'])
     df['dir_pay']=np.log1p(df['dir_pay'])
     df['s_negative']=np.log1p(df['s_negative'])
     df['e_negative']=np.log1p(df['e_negative'])
     df['e_positive']=np.log1p(df['e_positive'])
     
     #output_path에 저장
     return df

#### minmax scaling

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

#col=['AGE','OPOS','NOE','CR','DR','PER','PBR','DVR','SIZE','div_cur','major_hldr',
#     'minor_hldr',	'outer_dir',	'dir_gender',	'emp_gender',	're_emp_ratio'	,'work_year',	
#     'salary',	'salary_female','dir_pay',	'e_pos_news',	's_neg_news',	'g_neg_news'	,
#     's_negative',	'e_positive',	'e_negative']

cat_col=['CODE','CO_NM','market','type','esg_report','gov_report','green_bond','green_corp','green_tech']
#로그 변환한 데이터를 input으로 받아 min_max scaling

def minmax(df):
    scaler= MinMaxScaler()
    df_cat= df[cat_col]
    df_num=df[col]
    
    df_num= scaler.fit_transform(df_num)
    output=pd.DataFrame(df_num, columns=col,index=df.index)
    final=pd.concat([df_cat,output],axis=1)
    return final

#업종별로 다르게 스케일링
def type_minmax(df):
    df0= df[df['type']==0]
    df1= df[df['type']==1]
    df2= df[df['type']==2]
    df3= df[df['type']==3]
    df4= df[df['type']==4]
    df5= df[df['type']==5]
    df6= df[df['type']==6]
    df7= df[df['type']==7]
    df8= df[df['type']==8]

    df0=minmax(df0)
    df1=minmax(df1)
    df2=minmax(df2)
    df3=minmax(df3)
    df4=minmax(df4)
    df5=minmax(df5)
    df6=minmax(df6)
    df7=minmax(df7)
    df8=minmax(df8)
    all_minmax= pd.concat([df0,df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
    all_minmax=all_minmax.sort_index()
    
    return all_minmax

def Min_Max_scaling(df, train):
    
    output= type_minmax(df)

    if train==1:
        #train은 등급을 추가
        output['E_GRADE']= df['E_GRADE']
        output['S_GRADE']= df['S_GRADE']
        output['G_GRADE']= df['G_GRADE']
        output['SG_GRADE']= df['ESG_GRADE']
        return output

    else:
        #test는 등급 없이
        return output

In [ ]:
train = Min_Max_scaling(train,1)
test = Min_Max_scaling(test,0)

#### 최종 csv 저장

In [ ]:
train.to_csv(SAVE_PATH+"/train_preprocessed.csv", index= False)
test.to_csv(SAVE_PATH+"/test_preprocessed.csv", index= False)